<!--REFERENCES: http://labs.abeautifulsite.net/jquery-minicolors/
				http://demos.jquerymobile.com/1.4.2/forms/
				http://www.raymondcamden.com/index.cfm/2011/11/22/Demo-of-a-multistep-form-in-jQuery-Mobile-Part-2
-->
<!DOCTYPE html> 
<html> 
    <head> 
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <title>:: Hue Lights Demo ::</title> 
	<link rel="stylesheet" href="/stylesheets/jquery.mobile-1.4.2.css" />
	<link rel="stylesheet" href="/stylesheets/jquery.minicolors.css" />
    <script src="/javascripts/jquery.js"></script>
	<script src="/javascripts/jquery.mobile-1.4.2.min.js"></script>
    <script src="/javascripts/app.js"></script>
    <script src="/javascripts/patterns.js"></script>
    <script src="/javascripts/free_motion.js"></script>
	<script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts/jquery.minicolors.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script>
	//Establish the socket with server
	var socket = io.connect('http://localhost.foo.fi');
	//get response from server
	socket.on('hue_server_rep', function (data) {
		console.log(data);
	});
	
	$(document).ready( function() {		
			

            $('.demo').each( function() {
				$(this).minicolors({
					control: $(this).attr('data-control') || 'hue',
					defaultValue: $(this).attr('data-defaultValue') || '',
					inline: $(this).attr('data-inline') === 'true',
					opacity: $(this).attr('data-opacity'),
					position: $(this).attr('data-position') || 'bottom left',
					change: function(){$(this).minicolors('hide');},
					theme: 'default'
				});
            });
		});
		
		$("h3").click(function(){
			$(".light").toggle();
		});


	</script>
</head> 
<body>
<!-- Home -->
<div data-role="page" id="home">
    <div data-role="header">
        <a href="#home" data-icon="home">Home</a>
        <h1 style="font-size:14px;">Welcome</h1>
    </div>
    <div data-role="content">    
        <form method="post" class="msform" data-ajax="false">
		<label for="coolness"><b>What do you want to do?</b></label>
		<div style="text-align:center">
			<div data-role="fieldcontain"> 
				 <a href="#step1" class="ui-btn ui-btn-inline">Set up bulbs</a>
            </div>    
			<div data-role="fieldcontain"> 
				 <a href="#patterns" class="ui-btn ui-btn-inline" id="btn_pattern" onclick="patternsInit()">Patterns</a>
            </div>
			<div data-role="fieldcontain"> 
				 <label for="coolness"><b>Free motion</b></label>
					<select id="freemotionslider" name="slider" data-role="slider" onchange="toggleFreeMotion()">
						<option value="off">Off</option>
						<option value="on">On</option>
				</select>
            </div>
		</div>
        </form>
    </div>
</div>
<!-- Step One -->
<div data-role="page" id="step1">
    <div data-role="header">
        <a href="#home" data-icon="home">Home</a>
        <h1 style="font-size:14px;">Hue Lights - Bulb # 1</h1>
    </div>
    <div data-role="content">    
        <form method="post" class="msform" data-ajax="false">
            <input type="hidden" name="nextStep" value="step2">
            <div data-role="fieldcontain"> 
				 <label for="coolness"><b>Brightness:</b></label>
				 <input type="range" name="slider-fill" id="inputBright1" value="1" min="0" max="255" step="10" data-highlight="true">
            </div>    
            <div data-role="fieldcontain"> 
             <label for="coolness"><b>Saturate:</b></label>
			 <input type="range" name="slider-fill" id="inputSat1" value="1" min="0" max="255" step="10" data-highlight="true">            
			</div>
			<div data-role="fieldcontain"> 
			 <label for="coolness"><b>Color:</b></label>
			 <input type="hidden" id="inputColor1" class="demo" data-control="wheel" value="#0000ff">
            </div> 
			<div data-role="fieldcontain"> 
			<input id="btnSetLight1" type="button" value="Set Light 1" onclick="setHue1()">			
			</div> 
			<div style="text-align:center">
				<a href="#step2" class="ui-btn ui-btn-inline ui-icon-arrow-r ui-btn-icon-right">Next</a>
			</div>
        </form>
    </div>
</div>
<!-- Step Two -->
<div data-role="page" id="step2">
    <div data-role="header">
        <a href="#home" data-icon="home">Home</a>
        <h1 style="font-size:14px;">Hue Lights - Bulb # 2</h1>
    </div>
    <div data-role="content">    
        <form method="post" class="msform" data-ajax="false">
            <input type="hidden" name="nextStep" value="step3">
            <div data-role="fieldcontain">
			 <label for="coolness"><b>Brightness:</b></label>
			 <input type="range" name="slider-fill" id="inputBright2" value="1" min="0" max="255" step="10" data-highlight="true">
			</div>
			<div data-role="fieldcontain">
             <label for="coolness"><b>Saturate:</b></label>
			 <input type="range" name="slider-fill" id="inputSat2" value="1" min="0" max="255" step="10" data-highlight="true">
            </div>
			<div data-role="fieldcontain"> 
			 <label for="coolness"><b>Color:</b></label>
			 <input type="hidden" id="inputColor2" class="demo" data-control="wheel" value="#0000ff">
            </div> 
			<div data-role="fieldcontain"> 
			<input id="btnSetLight1" type="button" value="Set Light 2" onclick="setHue2()">			
			</div> 
			<div style="text-align:center">
				<a href="#" class="ui-btn ui-btn-inline ui-icon-arrow-l ui-btn-icon-left" data-rel="back">Previous</a>
				<a href="#step3" class="ui-btn ui-btn-inline ui-icon-arrow-r ui-btn-icon-right">Next</a>
			</div>			
        </form>
    </div>
</div>

<!-- Step Three -->
<div data-role="page" id="step3">
    <div data-role="header">
        <a href="#home" data-icon="home">Home</a>
        <h1 style="font-size:14px;">Hue Lights - Bulb # 3</h1>
    </div>
    <div data-role="content">    
        <form method="post" class="msform" data-ajax="false">
        <input type="hidden" name="nextStep" value="step1">
            <div data-role="fieldcontain">
			 <label for="coolness"><b>Brightness:</b></label>
			 <input type="range" name="slider-fill" id="inputBright3" value="1" min="0" max="255" step="10" data-highlight="true">
			</div>
			<div data-role="fieldcontain">
             <label for="coolness"><b>Saturate:</b></label>
			 <input type="range" name="slider-fill" id="inputSat3" value="1" min="0" max="255" step="10" data-highlight="true">
            </div> 
			<div data-role="fieldcontain"> 
			 <label for="coolness"><b>Color:</b></label>
			 <input type="hidden" id="inputColor3" class="demo" data-control="wheel" value="#0000ff">
            </div> 			
			<div data-role="fieldcontain"> 
			<input id="btnSetLight1" type="button" value="Set Light 3" onclick="setHue3()">			
			</div> 
			<div style="text-align:center">
				<a href="#" class="ui-btn ui-btn-inline ui-icon-arrow-l ui-btn-icon-left" data-rel="back">Previous</a>
			</div>		
        </form>
    </div>
</div>

<!-- Patterns -->
<div data-role="page" id="patterns">
    <div data-role="header">
        <a href="#home" data-icon="home" onclick="patternsStop()">Home</a>
        <h1 style="font-size:14px;">Patterns</h1>
    </div>
    <div data-role="content">    
        <form method="post" class="msform" data-ajax="false">
            <input type="hidden" name="nextStep" value="step2">
			<div data-role="fieldcontain">
			 <label for="coolness"><b>Choose the bulbs for patterns</b></label>
			</div>
			<div style="text-align:center">
				<fieldset data-role="controlgroup">
						<input type="checkbox" name="checkbox-1a" id="checkboxLight1" />
						<label for="checkboxLight1">Bulb #1</label>
						<input type="checkbox" name="checkbox-2a" id="checkboxLight2" />
						<label for="checkboxLight2">Bulb #2</label>
						<input type="checkbox" name="checkbox-3a" id="checkboxLight3" />
						<label for="checkboxLight3">Bulb #3</label>
				</fieldset>
			</div>
        </form>
    </div>
</div>

</body>
</html>